.navbar {
    width: 100%;
    background-color: rgb(13, 7, 50);
    min-height: 5vh;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0;
}

.menu-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    list-style-type: none;
    transition: color 0.3s;
}

.menu-link:hover {
    color: rgb(181, 181, 221);
}
