footer {
    background-color: #cfe2f3;
    padding: 10px; 
    border-top: 1px solid #99c2e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  footer a {
    color: #0056b3; 
    text-decoration: none; 
  }
  
  footer span,
  footer h3 {
    margin: 0;
    color: #0056b3; 
    text-decoration: none; 
  }
  
  footer span:hover,
  footer h3:hover {
    color: #00274d; 
  }
  
  footer h3 {
    margin: 0;
    color: #0056b3;
    text-decoration: none; 
    display: inline-block; 
    margin-left: 10px; 
  }
  
  footer h3:hover {
    color: #00274d; 
  }