* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: Arial, sans-serif; 
}

.App {
  text-align: center;
}

.UserSection {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: space-evenly;
}


