.Producto-count {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .Producto-count button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .Producto-count p {
    font-size: 18px;
    margin: 0 10px;
  }
  
  .agregar-al-carrito {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .agregar-al-carrito:hover {
    background-color: #218838;
  }
  
  